:root {
    --color__blue--light:#F2F4F9;
    --color__orange--light: #ff702e;
    --color__purple:#e0e7fb;
}

header,
nav {
    display: flex;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: var(--color__header__gradient);
}
nav {
    justify-content: space-between;
    width: inherit;
    max-width: 1280px;
    align-items: baseline;
    padding: 16px 80px;
    font-family: Arial, Helvetica, sans-serif;
    background-image:
    linear-gradient(
      #e7ebf4 0%, #F2F4F9 100%
    );
}

.nav__logo {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 30px;
}

.nav__currencies {
    display: flex;
    width: 200px;
    justify-content: space-between;
    list-style: none;
    color: rgb(62, 62, 62);
}

.currency__rate {
    font-weight: 600;
    color: black;
}

.nav__menu {
    display: flex;
    width: 450px;
    justify-content: space-between;
    list-style: none;
}

.nav__menu-item {
    display: flex;
}
